@model List<CartItem>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shopping Cart</h4>
                    <div class="breadcrumb__links">
                        <a href="/Home/Index">Home</a>
                        <a href="/Home/Shoping_Cart">Shop</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="@Url.Content("~/Images/"+item.ImgUrl)" width="100" height="100" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>@item.ProductName</h6>
                                            <h5 id="prc">$@item.Price.ToString("F2")</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                                <input class="qty" type="number" min="1" value="1" onchange="Calc()">
                                            </div>
                                        </div>
                                    </td>

                                    <td class="cart__price">$@((item.Price * item.Quantity).ToString("F2"))</td>
                                    <td class="cart__close">
                                        <a href="@Url.Action("RemoveFromCart", "Cart", new { productId = item.ProductId })">
                                            <i class="fa fa-close"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="#">Continue Shopping</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart__discount">
                    <h6>Discount codes</h6>
                    <form action="@Url.Action("ApplyCoupon", "Cart")" method="post">
                        <input type="text" name="couponCode" placeholder="Coupon code">
                        <button type="submit">Apply</button>
                    </form>
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <p style="color: red;">@TempData["ErrorMessage"]</p>
                    }
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <p style="color: green;">@TempData["SuccessMessage"]</p>
                    }
                </div>

                <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>

                            <li>Total <span>$@((ViewBag.Total).ToString("0.00"))</span></li>

                        

                    </ul>
                    <a href="#" class="primary-btn">Proceed to checkout</a>
                </div>
            </div>

        </div>
    </div>
</section>

<script>
    function Calc() {
        console.log("Hi")
        var sumAllProduct = 0
        const quantites = document.getElementsByClassName('qty');
        const prices = document.getElementsByClassName('prc');
        const eachPrice = document.getElementsByClassName('cart__price');
        console.log(prices[0])

        for (var i = 0; i < quantites.length; i++) {

            sumAllProduct += Number(prices[i].innerHtml) * Number(quantites[i].value);
            eachPrice[i].innerHtml = Number(prices[i].innerHtml) * Number(quantites[i].value) + " $";

        }

        document.getElementById('totalofsum').innerHtml = sumAllProduct + " $";
        document.getElementsByClassName('cart__price') = eachPrice;

    }

</script>
<!-- Shopping Cart Section End -->